@import "tailwindcss";

@theme {
  /* Define your "InkFlow" Brand Colors here */
  --color-brand-primary: #06b6d4;
  --color-brand-dark: #0f172a;
  --color-brand-light: #f1f5f9;
}

/* Enable Class-Based Dark Mode 
(This tells Tailwind: "Activate dark mode when the <html> tag has the class 'dark'")
*/
@custom-variant dark (&:where(.dark, .dark *));